<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webssh</title>
    <link rel="icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="/static/bootstrap/3.3.7/bootstrap.min.css"/>
    <!-- xterm v4 版本后去掉了 zmodem 插件，只能直接使用 zmodem.js 实现，但是不知道什么原因，登陆 webssh 后，第一次输出命令
    回车后会卡顿一下才出数据，v3.14.5 就不会卡顿，v3.14.5还可以也可以直接使用 zmodem.js，所以这里使用 v3.14.5，终端功能方面
    v3 和 v4 我没发现有什么多大的差别
    -->
    <!--link rel="stylesheet" href="/static/xterm/4.4.0/xterm.css"/-->
    <link rel="stylesheet" href="/static/xterm/3.14.5/xterm.min.css"/>
    <style>
        .input-width {
            width: 20%;
            display: inline-block;
        }

        .hide {
            display: none;
        }
    </style>

	<script type="text/javascript">
		function checkwindow() {
			event.returnValue=false;
		}
		setTimeout(function () {
            if (document.all) {
                document.getElementById("clickMe").click();
            }
            else {
                let e = document.createEvent("MouseEvents");
                e.initEvent("click", true, true);
                document.getElementById("clickMe").dispatchEvent(e)
            }
        }, 1000)
	</script>

</head>
<!--body onbeforeunload="checkwindow()"-->
<body>

<div style="margin-top: 10px" id="form">
    <div>
        connecting...
    </div>
    <form name="form" class="form-horizontal">
{#        {% csrf_token %}#}
        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" class="input-width form-control" id="host" placeholder="host" value="{{ host }}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" class="input-width form-control" id="port" value="{{ port }}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" class="input-width form-control" id="user" placeholder="user" value="{{ user }}">
            </div>
        </div>

{#        <div class="form-group">#}
{#            <div class="col-sm-10">#}
{#                <input type="hidden" class="input-width form-control" id="password" placeholder="password" value="{{ password }}">#}
{#            </div>#}
{#        </div>#}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="clickMe" type="button" class="btn btn-default" style="display: none" onclick="websocket()">
                </button>
            </div>
        </div>
    </form>
</div>

<div id="django-webssh-terminal" class="hide">
    <div id="terminal"></div>
</div>


<script src="/static/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/bootstrap/3.3.7/bootstrap.min.js"></script>
<script src="/static/bootbox/5.4.0/bootbox.min.js"></script>
<!--script src="/static/xterm/4.4.0/xterm.min.js"></script-->
<script src="/static/xterm/3.14.5/xterm.min.js"></script>
<script src="/static/zmodem/zmodem.devel.js"></script>
<script src="/static/webssh.js"></script>

</body>
</html>